In [ ]:
import pandas

In [ ]:
student_data = pandas.read_csv('StudentStatistics.csv',sep=';')
student_data

In [ ]:
student_data['Gen_Gender']

0     Female
1       Male
2       Male
3     Female
4       Male
5       Male
6     Female
7     Female
8       Male
9       Male
10      Male
11      Male
12      Male
13      Male
14    Female
15      Male
16       NaN
17    Female
18      Male
19      Male
20    Female
21       NaN
22    Female
23      Male
24      Male
25      Male
26      Male
27      Male
28      Male
29      Male
30    Female
31       NaN
32      Male
33      Male
34       NaN
35      Male
36      Male
37      Male
38      Male
39      Male
40       NaN
41    Female
42       NaN
43      Male
44      Male
45      Male
46      Male
47      Male
48       NaN
49       NaN
50      Male
51      Male
52    Female
53    Female
54       NaN
Name: Gen_Gender, dtype: object

In [ ]:
student_data['Gen_Gender'].value_counts()

Gen_Gender
Male      34
Female    12
Name: count, dtype: int64

In [ ]:
'''
Research question - is the number of male and female equal in organization?

Sample - 46
male - 34
Female - 12
Population?

H0 - Null hypothesis - there is no difference in number of male and female in population
H1 - Alternate hypothesis - there is a difference in number of male and female in population

two-sided test - non-directional (equal or non equal)
one-sided test - directional (greater or lesser)

Goal :
H0 - reject null hypothesis
or
no evidence to reject H0
'''

In [ ]:
from scipy.stats import binom_test
#x - count of any category
#n - sample size
#p - probability to belong anyone category
binom_test(x=34, n=46, p=0.5)

<ipython-input-6-13e0886b1407>:5: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  binom_test(x=34, n=46, p=0.5)

0.0016414913408482334

In [ ]:
# probability value
# pvalue - tell us what is probability thata the data belongs to a balanced population
# 0.0%  (when pvalue multiplied by 100)
pvalue = 0.0016414913408482334
'''
pvalue < 0.05
H0 rejected
There is no difference in the number of male and female in the population(rejected)
Our result is significant.......which means we can create an inference about our population
'''

In [ ]:
binom_test(x=23, n=46, p=0.5)

<ipython-input-7-b4469074466b>:1: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  binom_test(x=23, n=46, p=0.5)

1.0

In [ ]:
pvalue = 1.0 which is greater than 0.05, so no evidence to reject H0