In [ ]:
import pandas
data = pandas.read_csv('GSS2012a.csv')
data

,year,id,mar1,BMITZVAH,accntsci,age,sex,life,ENGDO,SCIENTBR,...,wrksch,wrkslf,wrkstat,wrkwayup,wwwhr,wwwmin,xmarsex,xmovie,xnorcsiz,zodiac
0,2012.0,1.0,MARRIED,NaN,NaN,22.0,MALE,EXCITING,NaN,NaN,...,WORK PART-TIME,SOMEONE ELSE,WORKING PARTTIME,AGREE SOMEWHAT,5.0,NaN,ALWAYS WRONG,NaN,"UNINC,MED CITY",LIBRA
1,2012.0,6.0,DIVORCED,NaN,NaN,50.0,FEMALE,NaN,NaN,NaN,...,WORK FULL-TIME,SOMEONE ELSE,OTHER,AGREE SOMEWHAT,0.0,0.0,SOMETIMES WRONG,NaN,"CITY,50-250000",TAURUS
2,2012.0,7.0,MARRIED,NaN,NaN,35.0,FEMALE,NaN,NaN,NaN,...,NaN,SOMEONE ELSE,KEEPING HOUSE,AGREE SOMEWHAT,2.0,NaN,NaN,NO,"CITY,50-250000",SCORPIO
3,2012.0,9.0,SEPARATED,NaN,NaN,28.0,FEMALE,ROUTINE,NaN,NaN,...,WORK PART-TIME,NaN,KEEPING HOUSE,AGREE STRONGLY,NaN,NaN,ALWAYS WRONG,NaN,"CITY,50-250000",LIBRA
4,2012.0,11.0,DIVORCED,NaN,NaN,55.0,MALE,ROUTINE,NaN,NaN,...,NaN,SOMEONE ELSE,OTHER,NaN,14.0,NaN,SOMETIMES WRONG,NaN,"SUBURB, MED CITY",PISCES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899,2012.0,1808.0,NEVER MARRIED,NaN,NaN,64.0,MALE,NaN,NaN,NaN,...,WORK FULL-TIME,SELF-EMPLOYED,WORKING PARTTIME,AGREE STRONGLY,NaN,NaN,NaN,NO,OPEN COUNTRY,TAURUS
900,2012.0,1812.0,NEVER MARRIED,NaN,NaN,24.0,FEMALE,NaN,NaN,NaN,...,WORK PART-TIME,SOMEONE ELSE,"UNEMPL, LAID OFF",NEITHER AGREE NOR DISAGREE,0.0,10.0,NaN,NO,OPEN COUNTRY,AQUARIUS
901,2012.0,1814.0,SEPARATED,NaN,NaN,32.0,FEMALE,EXCITING,NaN,NaN,...,NaN,SOMEONE ELSE,KEEPING HOUSE,AGREE SOMEWHAT,1.0,0.0,ALWAYS WRONG,NaN,OPEN COUNTRY,ARIES
902,2012.0,1820.0,MARRIED,NaN,NaN,48.0,MALE,EXCITING,NaN,NaN,...,WORK PART-TIME,SOMEONE ELSE,WORKING FULLTIME,AGREE SOMEWHAT,2.0,0.0,ALWAYS WRONG,NaN,SMALLER AREAS,LEO
903,2012.0,1821.0,NEVER MARRIED,NaN,NaN,21.0,FEMALE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data['mar1'].value_counts()

mar1
MARRIED          451
NEVER MARRIED    183
DIVORCED         148
WIDOWED           73
SEPARATED         35
Name: count, dtype: int64

RQ - Are people more likely to get married?

H0 - there is no preference and the distribution of each category is same

Ha - there is no preference and the distribution of each category is not same

In [ ]:
from scipy.stats import chisquare
chisquare(data['mar1'].value_counts())

Power_divergenceResult(statistic=600.7191011235955, pvalue=1.0829030167514616e-128)

In [ ]:
statistic=600.7191011235955
pvalue=1.0829030167514616e-128

In [ ]:
# Cramer V
# n = samples
# df = number of categories -1

n = data.shape[0]
df = 4
cv = (statistic / (n * df)) ** 0.5
cv

0.40758811317431026

In [ ]:
In the population the different categories are not evenly distributed
as per the Pearson chisquare goodness-of-fit test (p<0.05) and the
difference in the categories can be calculated from below range (given thatCramer V =0.408).

In [ ]:
# if df is k
'''
0 to 0.1/SQRT(k-1) = negligible
0.1/SQRT(k-1) to 0.3/SQRT(k-1) = small
0.3/SQRT(k-1) to 0.5/SQRT(k-1) = medium
0.5/SQRT(k-1) and above = large
'''