In [ ]:
import pandas

data = pandas.read_csv('GSS2012a.csv')

ordinal_data = data['accntsci']

ordinal_data.value_counts()

<ipython-input-1-0387f9cd6ad8>:3: DtypeWarning: Columns (11,115,123,187,274,284,287,288,290,291,292,397,585,595,628,632) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pandas.read_csv('GSS2012a.csv')

accntsci
Not too scientific       348
Not scientific at all    307
Pretty scientific        199
Very scientific          100
Name: count, dtype: int64

In [ ]:
ordinal_data.value_counts().index

Index(['Not too scientific', 'Not scientific at all', 'Pretty scientific',
       'Very scientific'],
      dtype='object', name='accntsci')

In [ ]:
'''
Not scientific at all     0
Not too scientific        1
Pretty scientific         2
Very scientific           3
'''
ordinal_data = ordinal_data.replace({'Not scientific at all':0,
                                      'Not too scientific':1,
                                      'Pretty scientific':2,
                                      'Very scientific':3})

In [ ]:
#Research Q - the median value of data is equal to X ( hypothetical median)

#h0 - the median value of the population data is not different from X ( hypothetical median)
#ha - the median value of the population data is different from X ( hypothetical median)

# if pvalue < 0.05
#h0 rejected
#effect size ? - negligible, small, medium, large

In [ ]:
from scipy.stats import wilcoxon
X = 2.5
ordinal_data = ordinal_data.dropna()
wilcoxon(ordinal_data-2.5, zero_method = 'wilcox')

WilcoxonResult(statistic=15000.0, pvalue=8.376600483105338e-142)

In [ ]:
#pvalue=8.376600483105338e-142
#pvlaue is very very less than 0.05

In [ ]:
#median of the population does not find accounting as scientific

In [ ]:
n=len(ordinal_data)
n

954